body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;

}

header {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 2;
}

header a {
  text-decoration: underline;
  color: seashell;
}

header span {
  display: inline-block;
  padding: 20px 10px;
}

header .logo {
  height: 50px;
  margin-left: 10px;
}

.mission {
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 700px;
  width: 1200px;
  padding-top: 70px;
  background-image: url("C:/Users/Ace/Documents/Projects/TeaCozy/resources/content/img-mission-background.jpg");
}

.mcontent {
  width: 1200px;
  background-color: black;
  margin: auto;
}

.store {
  width: 1000px;
  height: 700px;
  margin: auto;
}

.store .flexitems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.flexitems .item {
  width: 300px;
  height: 200px;
  padding: 25px 15px;
}

.item img {
  display: block;
  margin-bottom: 10px;
  height: 200px;
}
