body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;

}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 69px;
  width: 100%;
  z-index: 1;
  background-color: inherit;
  border-bottom: 1px solid seashell;
}

header a {
  text-decoration: underline;
  color: inherit;
}

header .logo {
  height: 50px;
  margin-left: 10px;
}

.mission {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 700px;
  padding-top: 70px;
  background-image: url("C:/Users/Ace/Documents/Projects/TeaCozy/resources/content/img-mission-background.jpg");
}

.mcontent {
  width: 1200px;
  background-color: black;
}
