body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;

  display: flex;
}

.mission {
  background-image: url("C:/Users/Ace/Documents/Projects/TeaCozy/resources/content/img-mission-background.jpg");
}
